@import "styles/variables.scss";

.headerSection {
  background-color: $color-white-0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.toogle {
  cursor: pointer;
  margin-right: 3px;
  span {
    vertical-align: middle;
    svg {
      font-size: 19px;
    }
  }
}
.menuDropDown {
  display: flex;
  align-items: center;
  gap: 6px;
}
.menuDropDownArrow {
  svg {
    font-size: 8px;
  }
}
.mobileMenuWrapper {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
}
.mobileMenu {
  width: 80%;
  height: 100%;
  background-color: $color-white-0;
  padding-top: 24px;
  position: relative;
  .mobileMenuClose {
    position: absolute;
    top: 24px;
    right: 17px;
    font-size: 20px;
    svg {
      color: $color-blue-2;
      font-size: 14px;
    }
  }
  .mobileProfile {
    padding: 0px 0 8px 24px;
  }
  .mobileSettings {
    padding: 0 16px 16px 24px;
    border-bottom: 1px solid $color-green-5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include font-semibold-18;
    color: $color-green-0;
  }
  ul {
    margin-top: 8px;
    .active {
      background: $color-green-5;
      color: $color-green-1;
    }
  }
  li {
    padding: 16px 16px 16px 24px;
    cursor: pointer;
    @include font-medium-16($line-height: 22px);
    color: $color-green-2;
    &:hover {
      background: $color-green-5;
      color: $color-green-1;
    }
  }
  .Logout {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 24px;
  }
}
.headerProfile {
  flex-basis: 30%;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 24px;
}
.profileIcon {
  @include font-regular-14;
  color: $color-white-0;
  background: rgba(102, 112, 133, 0.3);
  border-radius: 50%;
  padding: 6px 10px;
  width: 36px;
  height: 36px;
  display: inline-block;
}
.EarningsProfileWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 36px;
  cursor: pointer;
  .EarningsProfileName {
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    @include font-medium-16($line-height: 22px);
    color: $color-green-2;
    padding-right: 16px;
    label {
      cursor: pointer;
      @include font-regular-12($line-height: 16px);
      color: $color-blue-2;
    }
  }
}
.header {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-inline: 0px !important;
  @media (max-width: 1400px) {
    padding-inline: 12px !important;
  }
  &Wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &Logo {
    flex-basis: 13%;
    margin-right: 56px;
    flex-shrink: 0;
    a {
      display: inline-block;
    }
    span {
      vertical-align: middle;
    }
  }
  &Navlinks {
    flex-basis: 57%;
    ul {
      display: flex;
      align-items: center;
      gap: 24px;
    }
    li {
      @include font-medium-14;
      color: $color-green-2;
      padding: 0px 6px;
    }
    a:hover {
      color: $color-green-0;
    }
    .active {
      color: $color-green-0;
      font-weight: 600;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -16px;
        width: 100%;
        height: 2px;
        background-color: $color-green-0;
      }
    }
  }

  .headerSignin {
    @include font-medium-14($line-height: 19px);
    color: $color-blue-2;
    a {
      @include font-semibold-16($line-height: 22px);
      color: $color-green-0;
      margin-left: 6px;
    }
  }

  @media (min-width: 992px) {
    .toogle {
      display: none;
    }
  }
  @media (max-width: 1200px) {
    &Wrapper {
      gap: 15px;
    }
    &Logo {
      margin-right: 0px;
    }
    &Navlinks {
      ul {
        gap: 5px;
      }
    }
  }
  @media (max-width: 991px) {
    &Logo {
      margin-right: 0;
      flex-basis: 50%;
    }
    &Navlinks {
      display: none;
    }
    .headerSignin {
      display: none;
    }
    &Profile {
      flex-basis: 70%;
      .manageSlotsBtn {
        display: none;
      }
    }
    .EarningsProfileWrapper {
      display: none;
    }
  }
  @media (max-width: 768px) {
    padding-top: 10px;
    padding-bottom: 10px;
    .profileDropdown {
      display: none;
    }
    &Wrapper {
      gap: 13px;
    }
  }
  @media (max-width: 578px) {
    &Profile {
      flex-basis: 70%;
    }
  }
}
.manageSlotsBtn {
  height: 34px !important;
  padding: 8px 12px !important;
}
// search modal start
.searchModal {
  width: 700px !important;
  margin: auto;
  max-width: 100%;
  top: 2rem !important;
  .searchAutoCompleteWrapper {
    width: 100% !important;

    .Input {
      height: 100% !important;
      padding: 4px 11px;
      border: none !important;
      &:hover {
        border: none !important;
      }
    }
  }
  .PlaceholderSearch {
    padding-right: 8px;
    color: #bdcbca;
  }
  .searchInput {
    width: 100% !important;
  }
  input {
    &::placeholder {
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: $color-black-2;
    }
  }
  [class="ant-modal-content"] {
    padding: 0;
  }
  [class="ant-select-selector"] {
    height: 44px !important;
    // padding: 12px 14px !important;
    border-radius: 6px !important;
    border: 1px solid $color-white-2 !important;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  }
  [class="ant-modal-close"] {
    top: 12px;
    right: 10px;
    span {
      vertical-align: baseline !important;
    }
    svg {
      font-size: 14px !important;
    }
  }
}

.bellIconActive {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  width: 32px;
  height: 32px;
  background: $color-green-5;
  border-radius: 4px;
  font-size: 24px;
  color: $color-green-6;
  position: relative;
}
.bellIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  width: 32px;
  height: 32px;
  background: $color-white-0;
  border-radius: 4px;
  font-size: 24px;
  color: $color-blue-2;
  position: relative;
  &:hover {
    background: $color-green-5;
    color: $color-green-6;
  }
}
.count {
  position: absolute;
  bottom: 5px;
  right: 6px;
  z-index: 2;
  border-radius: 50%;
  border: 1px solid $color-white-0;
  background: $color-red-0;
  width: 8px;
  height: 8px;
  display: block;
}
// search modal end

// dark header start

.DarkHeader {
  background: $color-blue-3;
  .headerLogo {
    display: flex;
    align-items: center;
  }
  .headerNavlinks {
    ul {
      justify-content: flex-end;
      gap: 8px;
    }
    li {
      padding: 6px 12px;
      font-weight: 600;
      line-height: 0;
    }
  }
  .RescheduleLink,
  .EndCallLink {
    border-radius: 8px;
    &:hover {
      background: #121826;
    }
  }

  .InviteLink {
    color: $color-white-0 !important;
  }
  .toogle {
    svg {
      color: $color-white-0;
    }
  }
  .MobileNavlinks {
    ul {
      margin-top: 20px;
    }
    [class="ant-picker-suffix"] {
      margin-inline-start: 0 !important;
    }
  }
  .mobileMenu {
    background-color: $color-blue-3;
  }
}
.LanguageSelector {
  padding-left: 36px;
  [class="ant-select-selection-item"] {
    color: $color-white-0 !important;
    font-size: 16px !important;
  }
  [class="ant-select-selector"] {
    align-items: center;
    padding: 0 !important;
  }
  [class="ant-select-arrow"] {
    inset-inline-end: 1px;
    margin-top: -5px;
    svg {
      color: $color-white-0 !important;
      font-size: 9px;
    }
  }
}
.languageOption {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  padding: 8px 12px !important;
  border-radius: 0 !important;
  color: $color-white-0 !important;
}

.RecordingLink {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #919bac !important;
}
.EndCallLink {
  display: flex;
  align-items: center;
  gap: 6px;
  color: $color-red-0 !important;
  cursor: pointer;
  [class*="anticon-phone"] {
    svg {
      transform: rotate(225deg) translateX(-1px);
      font-size: 18px;
    }
  }
}

.ReschedulePicker {
  padding: 0;
  vertical-align: middle;
  cursor: pointer;
  input {
    width: 65px !important;
    text-overflow: initial !important;
    font-weight: 600;
    color: #919bac !important;
    cursor: pointer;
    &::placeholder {
      font-weight: 600;
      color: #919bac !important;
    }
  }
  [class="ant-picker-input"] {
    flex-direction: row-reverse !important;
    gap: 10px;
  }
  [class*="ant-picker-input-placeholder"] {
    flex-direction: row-reverse !important;
    gap: 10px;
  }
  [class*="ant-picker-clear"] {
    opacity: 0;
  }
  [class="ant-picker-suffix"] {
    margin-inline-start: 0;
  }
  [class*="anticon-calendar"] {
    svg {
      font-size: 19px;
      color: #919bac;
    }
  }
}

.ReschedulePickerActive {
  input {
    width: 174px !important;
  }
  [class*="ant-picker-clear"] {
    background: #ffffff00 !important;
    color: #919bac !important;
  }
}

@media (max-width: 1300px) {
  .EarningsProfileWrapper {
    gap: 6px;
    padding-left: 0px;
    .EarningsProfileName {
      padding-right: 0px;
    }
  }
}

@media (max-width: 991px) {
  .DarkHeader {
    .headerWrapper {
      justify-content: flex-start;
    }
  }
}

@media (min-width: 992px) {
  .DarkHeader {
    .QrAdminQuestionBankNav {
      li {
        padding: 0 0;
      }
    }
  }
}

@media (max-width: 568px) {
  .LanguageSelector {
    padding-left: 10px;
  }
  .DarkHeader {
    .headerLogo {
      flex-basis: 100%;
    }
  }
}

// dark header end

// Notification PopUp CSS Starts

.notificationTitle {
  @include font-semibold-18($line-height: 18px);
  font-style: normal;
  color: $color-green-1;
  padding: 8px 0px 16px 0px;
}
.popupContainer {
  width: 100%;
  justify-content: space-between;
}
.clerButton {
  @include font-semibold-14($line-height: 18px);
  font-style: normal;
  color: $color-green-0;
  padding: 8px 0px 16px 0px;

  :hover {
    color: $color-green-6;
  }
}

.notificationCard {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  border: 1px solid$color-green-5;
  border-radius: 8px;
  margin-bottom: 12px;
}
.notificationActive {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  border: 1px solid$color-green-5;
  border-radius: 8px;
  margin-bottom: 12px;
  background-color: $color-green-5;
}
.notifyCardContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include font-semibold-16($line-height: 18px);
  font-style: normal;
  color: $color-green-1;
  h4 {
    @include font-semibold-14($line-height: 18px);
    font-style: normal;
    color: $color-green-1;
    margin-bottom: 6px;
  }
  span {
    @include font-medium-12($line-height: 18px);
    font-style: normal !important;
    color: $color-black-2 !important;
  }
}
.label {
  width: 100%;
  @include font-medium-14($line-height: 22px);
  font-style: normal;
  color: $color-green-2;
  @media (max-width: 320px) {
    font-size: 12px;
  }
}

.AutoComplteWrapper {
  [class*="ant-select-item-option-active"] {
    background-color: rgba(0, 0, 0, 0) !important;
  }
}
