@import "styles/variables.scss";

.info {
  display: flex;
  gap: 6px 17px;
  flex-wrap: wrap;
  padding-top: 10px;
  li {
    flex-basis: 47%;
    display: flex;
    align-items: center;
    gap: 6px;
    @media (max-width: 375px) {
      flex-basis: 100%;
    }
  }
  span {
    @include font-regular-12($line-height: 16px);
    color: $color-blue-2;
  }
  .valid {
    .closeicon {
      display: none;
    }
  }
  [data-icon="check-circle"] {
    color: $color-green-7 !important;
  }
  [data-icon="close-circle"] {
    color: $color-red-0 !important;
  }
  .invalid {
    .checkicon {
      display: none;
    }
  }
}

.setPasswordSection {
  button {
    margin-top: 40px;
  }
  .SetPasswordFormWrapper {
    width: 470px;
  }
}

.confirmPasswordWrapper {
  margin-bottom: 20px !important;
}
