@import "styles/variables.scss";

.card {
  flex-grow: 1;
  padding: 16px 24px;
  background: $color-white-0;
  border-radius: 8px;
  h2 {
    margin-bottom: 4px;
    @include font-medium-14($line-height: 22px);
    color: $color-blue-2;
  }
  h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: $color-green-1;
    span {
      @include font-medium-14($line-height: 22px);
      color: $color-blue-2;
      padding-left: 12px;
    }
  }
}
